node_modules/
.env

# generated queries
internal/database

# generated styles, scripts, and remote assets
assets/*

# vendor folder is used for local backups just in case.
# no need to flood the remote repo.
vendor/
