{{define "layout.base.content"}}
<section class="w-[calc(100vw-42px)] max-w-300 mx-auto mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8">
    {{range .Initiatives}}
    <div class="flex flex-col gap-6 mb-10">
        <div class="flex-none w-full h-55 bg-gray-100 rounded overflow-hidden">
            {{if .Thumbnail}}
            <img src="{{.Thumbnail.Url}}" class="w-full h-full object-cover flex-none" />
            {{end}}
        </div>

        <div class="mx-2">
            <h1 class="text-2xl">
                {{.Name}}
            </h1>

            <p class="text-lg mt-5 text-justify">
                {{.Description}}
            </p>
        </div>
    </div>
    {{end}}
</section>
{{end}}
