{{define "layout.base.content"}}
<section class="w-[calc(100vw-42px)] max-w-300 mx-auto mt-10 flex flex-col gap-6">
    {{range .Initiatives}}
    <div class="flex flex-col md:flex-row gap-y-8 rounded border border-gray-200 overflow-hidden px-4 py-6">
        <div class="flex-none w-full md:w-80 lg:w-100 h-60 bg-gray-100 rounded overflow-hidden">
            {{if .Thumbnail}}
            <img src="{{.Thumbnail.Url}}" class="w-full h-full object-cover flex-none" />
            {{end}}
        </div>

        <div class="my-auto md:min-h-55 mx-2 md:mx-8">
            <h1 class="text-2xl">
                {{.Name}}
            </h1>

            <p class="text-lg mt-5 text-justify">
                {{.Description}}
            </p>
        </div>
    </div>
    {{end}}
</section>
{{end}}
