{{define "layout.base.main"}}
<main class="mt-15 mb-30 container container-gutter">
    <h1 class="text-xl">
        {{t "Projects" .Lang}}
    </h1>

    <section class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12">
        {{range .Projects}}
        <div class="flex flex-col gap-6">
            <div class="flex-none w-full h-55 bg-gray-100 rounded overflow-hidden">
                {{if .Thumbnail}}
                <img src="{{.Thumbnail.Url}}" class="w-full h-full object-cover flex-none" />
                {{end}}
            </div>

            <div class="mx-2">
                <h1 class="text-xl">
                    {{.Name}}
                </h1>

                <p class="text-lg mt-5 text-justify">
                    {{.Description}}
                </p>
            </div>
        </div>
        {{end}}
    </section>
</main>
{{end}}
