@theme {
    --default-font-family: "Rubik", sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    strong {
        font-weight: 600;
    }

    [x-cloak] {
        display: none !important;
    }
}

@utility container {
    margin: 0 auto;
    max-width: 1200px;
}

@utility container-full {
    width: 100%;
}

@utility container-gutter {
    width: calc(100% - 42px);
}
